/* transitons.css*/

header {
    background-color: #000000; /* Header background color (blue) */
    color: white;
    padding: 40px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

h4 {
    margin-bottom: 100px;  /* Adjust the value as needed */
}

a:link{
transition: color 0.5s;
}

img{
    opacity: 0.25;
    transition: opacity 500ms;
}

img:hover{
opacity: 1;
}

img {
    width: 500px; /* specific width */
    height: 500px; /* specific height */
  }

  img {
    width: 500px; /* Set a specific width */
    height: 500px; /* Set a specific height to maintain the circle shape */
    border-radius: 50%; /* This makes the image round */
    object-fit: cover; /* Ensures the image covers the area without distorting */
  }

  img {
    padding: 20px; /* Adds 20px of padding around the image */
    max-width: 100%; /* Ensures the image is responsive */
    height: auto; /* Maintains the image's aspect ratio */
  }

  /* challenge */
  
  figure {
    position: relative;
  }
    
  figure img{
  position: absolute;
    top: 0;
    left: 0;
  }

  figure .visible {
    opacity: 1;
  }

  figure .hidden {
    opacity: 0;
  }

  figure:hover .hidden{
opacity: 1;
  }

  h1 {
    margin-top: 30px;  /* Moves the h1 tag 30px down */
  }

  
  


